{% extends "layout.html.twig" %}

{% block content %}
    <div layout="row">
        <div flex="30" hide-sm></div>
        <div flex>
            <div flex>
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <div flex>
                        <md-button class="md-raised md-warn" ng-click="ctrl.getQuestions()">
                            Persistir dados
                        </md-button>
                    </div>
                    <div flex></div>
                    <div flex></div>
                    <div flex>
                        <md-progress-circular ng-show="ctrl.loading" class="md-warn"
                                              md-mode="indeterminate">
                        </md-progress-circular>
                    </div>
                </div>
            </div>
            <br>

            <div>
                <form name="filterForm">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Page</label>
                            <input type="number" min=1 ng-model="ctrl.filters.page">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Rpp</label>
                            <input type="number" max=99 ng-model="ctrl.filters.rpp">
                        </md-input-container>
                        <md-select placeholder="Sort" ng-model="ctrl.filters.sort">
                            <md-option ng-repeat="item in ctrl.sortOptions"
                                       value="{[{ item }]}">
                                {[{ item }]}
                            </md-option>
                        </md-select>
                        <md-input-container flex>
                            <label>Score</label>
                            <input type="number" ng-model="ctrl.filters.score">
                        </md-input-container>
                    </div>
                    </hr>
                    <md-input-container flex>
                        <md-button ng-click="ctrl.queryQuestions()" class="md-raised md-primary">
                            Buscar
                        </md-button>
                    </md-input-container>
                </form>
            </div>

            <div>
                Última atualização:
            </div>

            <md-list ng-if="ctrl.coolMode">
                <md-list-item class="md-3-line" ng-repeat="item in ctrl.filtered">
                    <div class="md-list-item-text">
                        <a ng-href="{[{ item.link }]}">{[{item.title}]}</a>

                        <h4>Owner name: {[{item.owner_name}]}</h4>

                        <p>Question id: {[{item.question_id}]}</p>

                        <p> Score: {[{item.score}]} </p>

                        <p>Is answered: {[{item.is_answered}]}</p>

                        <p>Creation date: {[{item.creation_date}]}</p>

                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div flex="30" hide-sm></div>
    </div>
{% endblock %}
