{% extends "layout.html.twig" %}

{% block content %}
    <div layout="row">
        <div flex="33" hide-sm></div>
        <div flex>
            <div flex>
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <div flex>
                        <md-button class="md-raised md-warn" ng-click="ctrl.getQuestions()">
                            Persistir dados
                        </md-button>
                    </div>
                    <div flex></div>
                    <div flex>
                        <md-progress-circular ng-show="ctrl.loading" class="md-warn"
                                              md-mode="indeterminate">
                        </md-progress-circular>
                    </div>
                </div>
            </div>
            <br>

            <div>
                <form name="filterForm">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Page</label>
                            <input type="number" min=1 ng-model="ctrl.filters.page">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Rpp</label>
                            <input type="number" max=99 ng-model="filter.rpp">
                        </md-input-container>
                        <md-autocomplete flex required
                                         md-input-name="autocompleteField"
                                         md-no-cache="ctrl.noCache"
                                         md-selected-item-change="null"
                                         md-search-text-change="null"
                                         md-autofocus=0
                                         md-selected-item="ctrl.filters.sort"
                                         md-search-text="ctrl.searchText"
                                         md-items="item in ctrl.querySearch(ctrl.searchText)"
                                         md-item-text="item"
                                         md-floating-label="Sort">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText">{[{ item }]}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-input-container flex>
                            <label>Score</label>
                            <input type="number" ng-model="ctrl.filters.score">
                        </md-input-container>
                    </div>
                    </hr>
                    <md-input-container flex>
                        <md-button ng-click="ctrl.query()" class="md-raised md-primary">Buscar</md-button>
                    </md-input-container>
                </form>
            </div>

            <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in ctrl.questions">
                    <div class="md-list-item-text">
                        <h3>{[{item.title}]}</h3>
                        <h4>Usuário: {[{item.owner.display_name}]}</h4>

                        <p>Id: {[{item.question_id}]}</p>

                        <p>Pontuação: {[{item.score}]}</p>

                        <p>Possui resposta: {[{item.is_answered}]}</p>

                        <p>Data de criação: {[{item.creation_date}]}</p>

                        <p>{[{item.link}]}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div flex="33" hide-sm></div>
    </div>
{% endblock %}
