<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/js/node_modules/angular-material/angular-material.css">
</head>

<body id="body-content" layout="column" ng-controller="AppController as ctrl">
<!-- Header -->
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <h1>PHP StackOverflow</h1>
    </div>
</md-toolbar>
<!-- Header end -->
<br/>
<!-- Content -->
<md-content layout-padding>
    {% block content %}{% endblock %}
</md-content>
<!-- Content end-->

<!-- Scripts -->
<script src="/js/node_modules/requirejs/require.js"></script>
<script src="/js/app/main.js"></script>
<!-- Scripts end-->

</body>
</html>
